
<div class="c-item-faq">
  <h3>Häufige Fragen zum Produkt</h3>
  {% if item.texts["technicalData"] is defined %}
    <div class="c-item-faq__content">
      {{ item.texts["technicalData"]|raw }}
    </div>
  {% else %}
    <div class="c-item-faq__content">
      <p>Derzeit liegen keine FAQs zu diesem Artikel vor.</p>
    </div>
  {% endif %}
</div>
